.backdropImage {
  filter: blur(10px) saturate(120%) contrast(120%) brightness(50%);
  animation: 0.2s ease-in-out both backdrop-fadein;
}

.layout-tv .backdropImage {
  filter: blur(16px) saturate(120%) contrast(120%) brightness(40%);
}

.backgroundContainer {
  background-color: rgba(var(--accent), 0.17) !important;
}

.layout-mobile .backgroundContainer,
.layout-desktop .backgroundContainer {
  background: url(https://w.wallhaven.cc/full/5y/wallhaven-5yd6d5.png) no-repeat
    center center;
  filter: blur(10px);
}

.layout-tv .backgroundContainer,
.layout-desktop .backgroundContainer {
  background-size: cover !important;
  position: fixed;
  opacity: 100%;
}

.layout-tv .backgroundContainer .layout-desktop .backgroundContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  opacity: 1;
}

@media (orientation: landscape) {
  .layout-mobile .backgroundContainer {
    background: url(https://w.wallhaven.cc/full/5y/wallhaven-5yd6d5.png)
      no-repeat center center;
  }
}
